* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body  {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
}


main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    padding: 20px;
    border-radius: 24px;
    background-color: rgb(47, 47, 47);
    border: 2px solid rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.profile {
    height: 60px;
    border-radius: 24px;
}

.infor {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;
    color: white;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: space-between;
    transition: all 0.3s;
}


/* Scale the hovered card */
.user-card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Apply blur to other cards when one card is hovered */
.container:hover .user-card:not(:hover) {
    transform: scale(0.9);
    filter: blur(5px);
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Ensure cards return to normal state when not hovered */
.container .user-card {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.btn-remove {
    padding: 12px 30px;
    border-radius: 12px;
    background-color: rgb(255, 43, 43);
    color: white;
    border: none;
    outline: none;
}

.btn-remove:active {
    background-color: rgb(255, 63, 63);;
}

.btn {
    padding: 10px 40px;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.05);
    
}

